<?xml version="1.0" encoding="UTF-8"?>

<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * @package     LinumSoftware_Piwik
 * @copyright   Copyright (c) 2012 Linum Software GmbH (http://www.linum.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0) 
 */
 -->
 
<config>
  <modules>
    <LinumSoftware_Piwik>
      <version>0.1.0</version>
    </LinumSoftware_Piwik>
  </modules>
  
  <global>
    <models>
      <linumsoftware_piwik>
	<class>LinumSoftware_Piwik_Model</class>
      </linumsoftware_piwik>
    </models>
    
    <helpers>
      <linumsoftware_piwik>
	<class>LinumSoftware_Piwik_Helper</class>
      </linumsoftware_piwik>
    </helpers>
    
    <blocks>
      <linumsoftware_piwik>
	<class>LinumSoftware_Piwik_Block</class>
      </linumsoftware_piwik>
    </blocks>
  </global>
  
  <frontend>
    <layout>
      <updates>
	<linumsoftware_piwik>
	  <file>linumsoftware_piwik.xml</file>
	</linumsoftware_piwik>
      </updates>
    </layout>
    
    <events>
      <sales_quote_save_after>
	<observers>
	  <linumsoftware_piwik>
	    <type>singleton</type>
	    <class>LinumSoftware_Piwik_Model_Observer</class>
	    <method>trackQuote</method>
	  </linumsoftware_piwik>
	</observers>
      </sales_quote_save_after>
      
      <sales_order_save_after>
	<observers>
	  <linumsoftware_piwik>
	    <type>singleton</type>
	    <class>LinumSoftware_Piwik_Model_Observer</class>
	    <method>trackOrder</method>
	  </linumsoftware_piwik>
	</observers>
      </sales_order_save_after>
    </events>
  </frontend>
  
</config>
